[submodule "GoBabyGoCode"]
	path = GoBabyGoCode
	url = https://github.com/camsharp21303/GoBabyGoCode.git
[submodule "WildThingApp"]
	path = WildThingApp
	url = https://github.com/camsharp21303/WildThingApp.git
